
https://book.vue.tw/CH1/1-1-introduction.html
<br>

1. vue (諧音 view), 一套以 視圖層(view) 概念為基礎, js 漸進式框架
<br>
2. Vue.js 目標是透過簡單的 框架API 提供開發者實作 資料綁定 與 操作網頁上的元件(dom)
<br>
3. Vue.js 的核心把焦點關注在狀態與畫面的同步層級上
<br>
4. 遂能夠輕易地與其他 JavaScript 函式庫、前端開發工具鍊等整合使用
<br>


<h2>Vue.js 的發展簡史</h2>
=> 略
<br>
=> 作者尤雨溪 (Evan You) 在 Google Creative Lab 的創意技術人員（Creative Technologist）工作時的業餘專案。
<br>
=> PHP 框架 Laravel 的作者 Taylor Otwell 説 vue 很棒 :)
<br>


<h2>Vue.js - 漸進式框架</h2>
1. 「 The Progressive JavaScript Framework 」漸進式框架 是什麼？
<br>
2. 談漸進式框架以前，就必須先從 Vue.js 的 兩個核心開始說起:
<br>
=> a.「宣告式渲染」與 b.「元件系統」 。
<br>


<h2>指令式渲染 vs. 宣告式渲染</h2>







