<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello vue</title>
    <script src="../vue-lib/vue.js"></script>
</head>
<body>

    <h2>004 尚硅谷Vue技术 搭建Vue开发环境</h2>
    https://www.youtube.com/watch?v=nt6U7fa3jqY&list=PLmOn9nNkQxJEARHuEpVayY6ppiNlkvrnb&index=4
    <br>

    <script>
        console.log(Vue.config.productionTip);
        Vue.config.productionTip = false;
        console.log(Vue.config.productionTip);
    </script>

    <h2>005 尚硅谷Vue技术 Hello小案例</h2>
    https://www.youtube.com/watch?v=x9g8uWO19N0&list=PLmOn9nNkQxJEARHuEpVayY6ppiNlkvrnb&index=5
    <br>
    <!-- 
        小結:
            1. vue運作, 需創建 vue實例, 並傳入 [配置對象] (如 data, el) 給實例
            2. root 容器遵守 html 規範, 但可使用 vue語法 , 如 {{}}, v-for , 其稱之為 [vue模板]
    -->

    1. 準備一個容器 div id=root, 給 vue 呈現結果
    <br>
    2. 創建一個 vue 實例
    <br>
    3. 於該 vue 實例中 , 使用 el (element) 屬性 指定其值 (通常)為css 選擇器 字符串 "#root" => 其寫法等同 docment.getEmementById("")
    <br>
    4. 使用 vue實例 [配置對象]: data 修改 容器root 內之 h3, 顯示 hello! 盧森堡
    <br>


    <div id="root">
        <h3>hello! {{ name }} </h3>
    </div>

    <script>
        new Vue({
            el: "#root",
            data: {
                name: "盧森堡yo2!"
            }
        })
    </script>


    <h2>006 尚硅谷Vue技术 分析Hello案例</h2>
    https://www.youtube.com/watch?v=ePktEZvOSGw&list=PLmOn9nNkQxJEARHuEpVayY6ppiNlkvrnb&index=6
    <br>
    1. (承接 005 hello 案例) 容器root 與 vue 實例, 只能 1對1
    <br>
    2. vue實例 下 可有 父子 關係 => 項目 => 後續章節會提
    <br>
    3. vue的 插值 {{}} 可呈現: (1).vue實例[配置對象] 與 (2).js表達式 , 如: {{ 1+1 }}, {{ new Date() }}
    <br>
    4. js表達式 vs js代碼(語句):
    <br>
    => (1). js表達式: 必定會產生一個 '值'
    <br>
    => (2). js代碼(語句)
    <br>
    




</body>
</html>