<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>
    <!-- 正确引入 Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
</head>
<body>
    <div id="app1"></div>
    <div id="app2"></div>
    <div id="app3"></div>
    <div id="app4"></div>
    <div id="app5"></div>
    <div id="app6"></div>
    <div id="app9"></div>
    <div id="app10"></div>
    <div id="app11"></div>

    <script>
        /* 
            1. Vue 3 專案初始化
                使用 Vue CLI 或 Vite 來建立 Vue 3 專案。
                了解 main.js 或 main.ts 檔案的作用，以及如何將根元件掛載到 DOM 中。
         */
        Vue.createApp({
            data() {
                return {
                    message: '有掛載上去嗎? :) '
                };
            },
            template: "<h2> 1. Vue 3 專案初始化 yoyo </h2>" 
        }).mount('#app1');


        /* 
            2. Vue 實例與組件
                Vue 實例: Vue 應用程式的根實例通常是透過 createApp 建立的，它用來管理整個應用程式。
                元件: Vue 中的元件是 UI 的基本建構塊，每個元件都包含模板、邏輯和樣式。
                模板: 使用 HTML 語法描述 UI 結構。
                邏輯: 使用 JavaScript 定義元件的行為，如資料、方法、計算屬性等。
                樣式: 使用 CSS 或其他預處理器來定義元件的樣式。
         */
        Vue.createApp({
            components: {
                'hello-component': {
                    template: `<h2>{{ message }}</h2>`,
                    data() {
                        return {
                            message: '2. 我是一個 vue 組件 component 範例喔喔!'
                        };
                    }
                }
            },
            template: `<hello-component></hello-component><hello-component></hello-component>`
        }).mount('#app2');

        /* 
            3. 模板语法
                插值表达式: 使用 {{ }} 语法在模板中插入变量。
                指令: Vue 提供了一系列指令来操作 DOM，如 v-if, v-for, v-bind, v-on 等。
                属性绑定: 使用 v-bind 或缩写 : 来动态绑定 HTML 属性。
                事件绑定: 使用 v-on 或缩写 @ 来绑定事件处理函数。
         */
        Vue.createApp({
            data() {
                return {
                    message: 'This is a template syntax example',
                    count: 0,
                    text: 'Hover over me!'
                };
            },
            methods: {
                increment() {
                    this.count++;
                }
            },
            template: `
                <div>
                    <h2> 3. 模板语法 </h2>
                    <p>{{ message }}</p>
                    <p v-bind:title="text">{{ text }}</p>
                    <button v-on:click="increment">Count: {{ count }}</button>
                </div>
            `
        }).mount('#app3');

        /* 
            4. 響應式數據
                reactive: 建立響應式對象，當對像中的資料發生變化時，UI 會自動更新。
                ref: 建立基本類型的響應式參考。
                computed: 定義基於響應式資料的計算屬性。
                watch: 監聽響應式資料的變化，並在資料變化時執行回呼。
         */
        Vue.createApp({
            data() {
                return {
                    firstName: '盧',
                    lastName: '帥翔'
                };
            },
            computed: {
                fullName() {
                    return `${this.firstName} ${this.lastName}`;
                }
            },
            template: `
                <div>
                    <h2>4. 響應式數據</h2>
                    <p>{{ fullName }}</p>
                    <button @click="firstName = 'Jane'">Change First Name</button>
                </div>
            `
        }).mount('#app4');

        /* 
            5. 組件通信
                Props: 父元件透過 props 傳遞資料給子元件。
                事件: 子元件可以透過 $emit 觸發事件，通知父元件某些操作。
                Provide/Inject: 用於跨層級元件之間的通信，通常用於全域狀態管理。
         */
        Vue.createApp({
            components: {
                'child-component': {
                    template: `
                        <div>
                            <button @click="$emit('child-event', 'Hello from child!')">Send Event to Parent</button>
                        </div>
                    `
                }
            },
            methods: {
                handleEvent(message) {
                    alert(message);
                }
            },
            template: `
                <div>
                    <h2> 5. 組件通信 </h2>
                    <child-component @child-event="handleEvent"></child-component>
                </div>
            `
        }).mount('#app5');

        /* 
            6. 生命週期鉤子
                理解生命週期: Vue 元件在創建、掛載、更新和銷毀的過程中，會觸發一系列鉤子函數，如 onMounted, onUpdated, onUnmounted 等。
                常用鉤子:
                    onMounted: 元件掛載到 DOM 之後呼叫。
                    onUpdated: 元件更新之後呼叫。
                    onUnmounted: 元件卸載之前呼叫。
         */
        Vue.createApp({
            mounted() {
                console.log('6. 生命週期 1 : mounted!');
            },
            onUpdated() {
                console.log('6. 生命週期 2 : onUpdated!');
            },
            onUnmounted() {
                console.log('6. 生命週期 3 : onUnmounted!');
            },
            template: `<h2> 6. 生命週期: mounted! </h2>`
        }).mount('#app6');

        /* 
            9. 組合式 API
                setup 函數: 所有的組合 API 都在 setup 函數中調用，它是元件邏輯的入口點。
                組合函數: 學習如何透過自訂組合函數（Composables）來重複使用邏輯。
         */
        Vue.createApp({
            setup() {
                const count = Vue.ref(0);
                const message = Vue.computed(() => `Count is: ${count.value}`);

                function increment() {
                    count.value++;
                }

                return { count, message, increment };
            },
            template: `
                <div>
                    <h2> 9. 組合式 API </h2>
                    <p>{{ message }}</p>
                    <button @click="increment">Increment</button>
                </div>
            `
        }).mount('#app9');

        /* 
            10. 模板 Ref
                使用模板 ref: 通过 ref 绑定 DOM 元素或组件实例，便于在逻辑代码中直接操作 DOM 或访问组件实例的方法。
         */
        Vue.createApp({
            data() {
                return {
                    refText: 'Initial value'
                };
            },
            methods: {
                focusInput() {
                    this.$refs.inputRef.focus();
                }
            },
            template: `
                <div>
                    <h2> 10. 模板 Ref </h2>
                    <input v-model="refText" ref="inputRef">
                    <button @click="focusInput">Focus Input</button>
                </div>
            `
        }).mount('#app10');

        /* 
            11. 樣式處理
                Scoped CSS: Vue 3 支援 scoped 樣式，使得元件的樣式只作用於元件本身，避免樣式污染。
                CSS 預處理器: 支援使用 SCSS、LESS 等預處理器來編寫元件樣式。
         */
        Vue.createApp({
            template: `
                <div class="scoped-style">
                    <h2> 11. 樣式處理 </h2>
                    <p>修改了 p 的樣式</p>
                </div>
            `,
            style: `
                .scoped-style {
                    color: red;
                    font-weight: bold;
                }
            `
        }).mount('#app11');
    </script>
</body>
</html>
