

=========================================================
<h1>001 尚硅谷Vue技术 课程简介</h1>
https://www.youtube.com/watch?v=vj4Gf2gGUfU&list=PLmOn9nNkQxJEARHuEpVayY6ppiNlkvrnb&index=1
<br>

1. vue2 => vue3 是一個過渡
<br>
2. vue2 經歷 70多次更新, 有很多經典功能, 但 vue3 也確定是未來的展望
<br>
3. vue2, vue3 本課程提到內容:
<br>
=> 1.vue base, 2.vue cli, 3.vue router, 4.vuex, 5.element-ui, 6.vue3 差異
<br>


=========================================================
<h1>002 尚硅谷Vue技术 Vue简介</h1>
https://www.youtube.com/watch?v=J9j5iqBFC5E&list=PLmOn9nNkQxJEARHuEpVayY6ppiNlkvrnb&index=2
<br>


1. vue是什麼? => 一個 建構使用者介面 之 漸進式框架
<br>
2. 構建用戶介面: 將資料流 轉為 介面 (如: 資料綁定)
<br>
3. 漸進式:
<br>
=> 官方：自底向上逐層應用
<br>
=> 理解上: 簡單應用,可使用 輕量級 的核心 ==漸進到==> 複雜應用,可使用各式各樣的vue插件
<br>


<h2>vue 來源</h2>
1. 流雨溪 開發 => 開發 angular 工程師, 後續參考 ng 開發出 Vue
<br>
2. Taylor 泰瑞 都說讚!
<br>


<h2>vue 簡介-特點</h2>
1. 模組化, 提高代碼 複用率reuse, 可維護性
<br>
=> 與 angular 類似, 使用 component 封裝 css, html, ts 
<br>
<br>

2. 聲明式 編碼, 無需 js(命令式編碼)直接操作 dom , 可提高開發效率
<br>
=> 命令式 => personList.forEach(x=>{...}) => h1.innerHTML =...
<br>
=> 聲明式 => <li v-for="p of person"> => {{ p.name }} => vue, angular 都有相似
<br>
<br>

3. viturl-dom,虛擬dom + diff演算法 資料檢查差異 => 提高呈現效率
<br>
=> vue 構建用戶介面: 取得資料 => 創建 (虛擬)virtual-dom  => 產生 (真實)real-dom
<br>
=> 下次資料更新, 虛擬 dom 會比較新舊之 diff , 比對差異性, 只將異動資料更新
<br>
<br>



=========================================================
<h1>003 尚硅谷Vue技术 Vue官网使用指南</h1>
https://www.youtube.com/watch?v=yw_bqV0wBmM&list=PLmOn9nNkQxJEARHuEpVayY6ppiNlkvrnb&index=3
<br>
1. 此視頻在說明 vue2 的官方文黨, 上方有導覽列, 教程, api 很重要
<br>
2. 現在官方以 vue3 為主: https://cn.vuejs.org/
<br>
3. 舊版 vue2 官方文檔(停支援): https://v2.cn.vuejs.org/
<br>















